/*Layout */

#Meny { 
        float:left;
        width:200px;
        margin-top:5px;
       text-indent:29px;
       }
       
.socialicon {width:150px;
            height:24px;
            background-repeat:no-repeat;
            background-image: url("pics/sprite.png")
            }
            
.socialiconN {width:150px;
            height:24px;
            background-repeat:no-repeat;
            background-image: url("pics/sprite.png")
            }
            
.socialicon span {display:none;}

#homeicon   {background-position: 0 -48px }
#homeicon:hover   {background-position: 0 0 }

#personicon {background-position: 0 -240px}   
#personicon:hover {background-position: 0 -192px}

#lettericon {background-position: 0 -336px}   
#lettericon:hover {background-position:0 -288px}

#hammericon {background-position: 0 -144px}
#hammericon:hover {background-position: 0 -96px}


#Footer {   margin-left:210px;
            border: 1px solid;
            background:purple;
            
}
#Container {max-width:1200px;
            margin: auto;
            height:1529px;
            position:relative;
            background:white;
            
           
            
            
  }
        
#Top    {background:none;
        
       
       
        }
#Hello {float:right;
        Width:250px;
      
        }
#Kontrollrummet{float:right;

}

#Content {  margin-left:210px;
            width:700px;
            padding-left:100px;
            padding-right:100px;
            border: 1px solid;
            height:1318px;
                
        
        }
        
#Meny    li a{
            text-decoration: None;
            padding:-10px;
            display: block;
            
            }

.Blogg {background-image: url(pics/);
        background-repeat: no-repeat;
        background-position: top left;
        
}
#Meny ul li a.socialiconN {background-color:silver;}

Body {background-image: url(pics/kontrollrum.jpg);}


/*Typagrafi*/

a:link {color:blue;}
a:visited {color:purple;}
a:focus {color:red;}
#Meny a:hover {color:silver;background-color:red;}
a:active {color:Orange;}

li {list-style-type: none;
    border-bottom: 2px solid white;
}



    



h1 {text-decoration:Underline;
    letter-spacing:0.5px;}
h2 {text-decoration:Underline;
    letter-spacing:0.5px;}
h3 {text-decoration:Underline;
    letter-spacing:0.5px;}
h4 {text-decoration:Underline;
    letter-spacing:0.5px;}
h5 {text-decoration:Underline;
    letter-spacing:0.5px;}
    
